html {
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
  background: smokewhite; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  display: flex;
  background: green;
  min-height: 100vh; }

main, aside {
  padding: 4rem 2.5rem; }

main .portfolio {
  margin: 4rem 7rem; }

aside .experience-container {
  margin-left: 6rem; }

aside {
  background: linear-gradient(to right, #FBD3E9, #BB377D);
  flex: 1;
  display: flex;
  max-width: 600px; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

.logo {
  width: 75px;
  height: 75px;
  margin: 1rem 0 1rem 1rem;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat; }

.experience-container {
  padding: 2rem 0;
  align-self: center;
  align-items: flex-start;
  height: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column; }

.experience, .experience-continue {
  display: flex;
  padding: 1rem 0; }
  .experience .big-letter, .experience-continue .big-letter {
    max-width: 150px;
    font-size: 12rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 2px #70214b, 0 0 1em #a83170, 0 0 0.2em #a83170; }
  .experience .descr, .experience-continue .descr {
    max-width: 290px;
    min-width: 200px;
    padding: 0.7rem;
    padding-right: 2rem;
    align-self: center;
    color: #fff; }
    .experience .descr h3, .experience-continue .descr h3 {
      font-size: 1rem;
      text-transform: uppercase;
      line-height: 1.4rem;
      letter-spacing: 0.5rem;
      text-decoration: underline; }
    .experience .descr ul li, .experience-continue .descr ul li {
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      line-height: 1.4rem; }

section.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  padding: 1.5rem;
  height: 90%;
  background: white;
  max-width: 400px;
  min-width: 280px;
  margin-right: -45%;
  align-self: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22), inset 0 0 1px rgba(0, 0, 0, 0.18); }
  section.about-me .profile-face {
    width: 100px;
    height: 100px;
    margin: 1.5rem auto;
    background-image: url("../img/profile_face.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #f1bcd9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22), inset 0 0 1px rgba(0, 0, 0, 0.18); }
  section.about-me .name, section.about-me .tagline, section.about-me .decoration-line {
    text-align: center; }
  section.about-me h2.name {
    font-size: 30px;
    font-weight: 300;
    color: #272556;
    text-transform: uppercase;
    margin: 7px; }
    section.about-me h2.name span {
      font-weight: 600; }
  section.about-me #infinity-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url("../img/infinite-mathematical-symbol.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  section.about-me #designer, section.about-me #developer {
    color: #888f91;
    padding: 10px 0; }
    section.about-me #designer h3.title, section.about-me #developer h3.title {
      color: #666b6d;
      font-weight: 600;
      font-size: 26px; }
    section.about-me #designer p, section.about-me #developer p {
      font-size: 1.1rem;
      line-height: 1.3rem; }

main {
  background-image: url("../img/main-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 2;
  display: flex;
  justify-content: center; }

section.portfolio {
  height: 90%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  section.portfolio .title-projects {
    font-size: 45px;
    padding: 2rem;
    text-align: center;
    color: #272556; }
  section.portfolio .projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%; }
    section.portfolio .projects .project:nth-child(1), section.portfolio .projects .project:nth-child(2) {
      margin-bottom: 20px; }
    section.portfolio .projects .project:nth-child(1), section.portfolio .projects .project:nth-child(3) {
      margin-right: 10px; }
    section.portfolio .projects .project {
      border: 2px solid red;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 8px;
      height: 400px;
      padding: 30px;
      color: #fff;
      font-size: 20px; }
      section.portfolio .projects .project .button {
        padding: 1em 1.5em;
        border: 2px solid #fff;
        border-radius: 0.5em;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 600;
        transition: all 0.3s ease-in-out; }
        section.portfolio .projects .project .button:hover {
          border: 2px solid #272556;
          color: #272556; }
  section.portfolio .project-descr {
    height: 100%; }

.project1 {
  background-image: url("../img/wineBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 50%; }

.project2 {
  background-image: url("../img/resourcesBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 30%; }

.project3 {
  background-image: url("../img/valutaBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 30%; }

.project4 {
  background-image: url("../img/jsBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 50%; }

@media(max-width:2250px) {
  main .portfolio {
    align-items: flex-end; }

  aside .experience-container {
    margin-left: 6rem; } }
@media(max-width: 1530px) {}
@media(max-width: 1360px) {
  aside {
    flex-direction: column;
    padding: 3.5rem; }
    aside .experience-container {
      margin: 0; }
    aside section.about-me {
      margin-right: 0; }

  main .portfolio {
    align-items: center;
    margin: 0;
    justify-content: flex-start; } }
@media(max-width: 1050px) {
  main section.portfolio .projects .project {
    flex-basis: 100%; }
    main section.portfolio .projects .project:nth-child(1), main section.portfolio .projects .project:nth-child(3) {
      margin-right: 0; }
    main section.portfolio .projects .project:nth-child(3) {
      margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
