html {
  font-family: "Josefin Slab", serif; }

.wrapper {
  display: flex;
  background: green;
  min-height: 100vh; }

main, aside {
  padding: 0 1.5rem; }

aside {
  background: linear-gradient(to left, #FBD3E9, #BB377D);
  flex: 1;
  display: flex;
  min-width: 400px; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

.logo {
  min-width: 75px;
  height: 75px;
  margin: 1rem 0 1rem 1rem;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat; }

.experience-container {
  padding: 2rem 0;
  align-self: center; }

.experience, .experience-continue {
  display: flex; }
  .experience .big-letter, .experience-continue .big-letter {
    max-width: 150px;
    font-size: 12rem;
    color: whitesmoke; }
  .experience .descr, .experience-continue .descr {
    max-width: 290px;
    min-width: 200px;
    padding: 0.7rem;
    padding-right: 2rem;
    align-self: center;
    color: whitesmoke; }
    .experience .descr h3, .experience-continue .descr h3 {
      font-size: 0.8rem;
      text-transform: uppercase; }
    .experience .descr ul li, .experience-continue .descr ul li {
      font-size: 1rem; }

section.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: gray;
  z-index: 1;
  padding: 1.5rem;
  height: 86%;
  background: white;
  max-width: 400px;
  min-width: 280px;
  margin-right: -45%;
  align-self: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22), inset 0 0 1px rgba(0, 0, 0, 0.18); }
  section.about-me .profile-face {
    width: 100px;
    height: 100px;
    margin: 1.5rem auto;
    background-image: url("../img/profile_face.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #f1bcd9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22), inset 0 0 1px rgba(0, 0, 0, 0.18); }
  section.about-me .name, section.about-me .tagline, section.about-me .decoration-line {
    text-align: center; }
  section.about-me h2.name {
    font-size: 30px;
    font-weight: 300;
    color: #272556;
    text-transform: uppercase;
    margin: 7px; }
    section.about-me h2.name span {
      font-weight: 600; }
  section.about-me #infinity-decoration {
    padding: 0;
    position: relative;
    width: 43px;
    height: 15px;
    margin: 0 auto; }
  section.about-me #infinity-decoration:before,
  section.about-me #infinity-decoration:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 5px solid #de4a75;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg); }
  section.about-me #infinity-decoration:after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg); }
  section.about-me .header, section.about-me .aboutMe-content {
    margin-bottom: 10px; }
  section.about-me #designer, section.about-me #developer {
    color: #888f91;
    padding: 10px 0; }
    section.about-me #designer h3.title, section.about-me #developer h3.title {
      color: #666b6d;
      font-weight: 600;
      font-size: 26px; }
    section.about-me #designer p, section.about-me #developer p {
      font-size: 1.1rem;
      line-height: 1.3rem; }

main {
  background-image: url("../img/main-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 2;
  display: flex;
  justify-content: center; }

section.portfolio {
  height: 90%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  section.portfolio .title-projects {
    padding: 2rem;
    text-align: center; }
  section.portfolio .projects {
    background: gray;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    max-width: 70%; }
    section.portfolio .projects .project {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 8px;
      height: 300px;
      padding: 30px;
      color: #fff;
      font-size: 20px; }
      section.portfolio .projects .project:nth-child(1), section.portfolio .projects .project:nth-child(2) {
        margin-bottom: 20px; }

.project1 {
  background-image: url("../img/wineBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 50%; }

.project2 {
  background-image: url("../img/resourcesBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 30%; }

.project3 {
  background-image: url("../img/valutaBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 30%; }

.project4 {
  background-image: url("../img/jsBg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 50%; }

@media(max-width:2250px) {
  main .portfolio {
    align-items: flex-end;
    margin-right: 6rem; } }

/*# sourceMappingURL=style.css.map */
