@media(max-width:2250px)
  main
    .portfolio
      align-items: flex-end
      // margin-right: 12rem
  aside
    .experience-container
      margin-left: 6rem
@media(max-width: 1530px)
  main
    section.portfolio
      margin-right: 6rem
      .projects
        .project
          &:nth-child(1), &:nth-child(3)
            margin-right: 0
          &:nth-child(2)
            margin-right: 10px
          &:nth-child(4)
            margin-right: 0
        // .project.project1, .project.project3, .project.project4
        //   margin-right: 0

@media(max-width: 1360px)
  aside
    flex-direction: column

    section.about-me
      margin-right: 0
  main
    .portfolio
      align-items: center
      margin-right: 0
      justify-content: center
