.wrapper
  display: flex
  background: green
  min-height: 100vh


main, aside
  padding: 0 1.5rem

// ASIDE STYLE
aside
  background: linear-gradient(to left, #FBD3E9 , #BB377D)
  flex: 1


ul
  padding: 0
  li
    list-style: none

.logo
  width: 75px
  height: 75px
  margin: 1rem 0 1rem 1rem
  background-image: url('../img/logo.svg')


.experience, .experience-continue
  display: flex
  // border: 2px solid blue
  .big-letter
    max-width: 150px
    font-size: 12rem
    color: whitesmoke
  .descr
    max-width: 385px
    padding: 1rem
    align-self: center
    color: whitesmoke
    h3
      font-size: .8rem
      text-transform: uppercase
    ul
      li
        font-size: .9rem


// MAIN STYLE
main
  background-image: url('../img/main-bg.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  flex: 2
  display: flex
section.about-me
  padding: 1.5rem
  height: 80%
  background: azure
  max-width: 300px
  margin-left: -10%
  align-self: center
  .profile-face
    width: 100px
    height: 100px
    background: pink
    margin: 2rem auto
    background-image: url('../img/profile_face.png')
    background-size: cover
    background-repeat: no-repeat
    border-radius: 50%
    border: 3px solid gray
  .name, .tagline, .decoration-line
    text-align: center
// SECTION PROJECTS
section.portfolio
  background: pink
  padding: 1.5rem
  height: 80%
  align-self: center
  min-width: 600px
  display: flex
  .projects
    background: gray
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    flex-wrap: wrap
    .project
      width: 50%
      height: 200px
      flex: 1 1 40%
      border: 2px solid red
